@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

form{
    font-family: 'Raleway';
    margin-top: 90px;
    height: auto;
}

form .Signup-container{
    background-color:#eeeeee;
    width: 500px;
    height: auto;
    margin-left: 500px;
    padding: 20px;
    box-shadow:5px 5px 12px 7px rgb(113 113 113 / 25%);
    line-height: 35px;
}

form .Signup-container h1{
    color: #710303;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #008fe7;
}

form .Signup-container p{
    font-size: 15px;
    letter-spacing: 1px;
} 

form .Signup-container input{
    height: 30px;
    width: 480px;
    border-radius: 3px;
    border: 0px solid black;
    box-shadow: 0px 0px 8px 2px #83868536;
    overflow: hidden;
    outline: none;
    display: flex;
    padding: 10px;
}

form .Signup-container input:hover{
    outline: none;
}

::placeholder{
    font-size: 17px;
    color: rgba(1, 105, 81, 0.412);
}

form .Signup-container span{
    display: flex;
}

form .Signup-container span p{
    padding-left: 5px;
    margin: auto;
}

form .Signup-container span #female{
    margin-left: 200px;
}

form .Signup-container span input{
    margin-left: -20px;
    box-shadow: none;
}

form .Signup-container #remember-btn{
    display: flex;
    width: 20px;
}

form .Signup-container p a{
    color: #15006e;
    text-shadow: 0px 0px 1px #003160b3;
}


form .Signup-container .create{
    height: 35px;
    width: 480px;
    background:linear-gradient(14deg, #000000d9, #00255c57);
    border: 0px solid black;
    cursor: pointer;
}

form .Signup-container .create:hover{
    background-color: black;
}

form .Signup-container .create span{
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    letter-spacing: 3.5px;
    text-decoration: none;
    padding-left: 8.5rem;
}

footer{
    margin-top: 90px;
}